<div class="col">
	<mat-card class="ms-2 me-2 mb-4 p-3">
		<mat-card-header class="pt-1 ps-1 pe-1">
			<!-- <div mat-card-avatar></div> -->
			<mat-card-title>{{ pokemon.name }}</mat-card-title>
			<mat-card-subtitle>Dog Breed</mat-card-subtitle>
		</mat-card-header>
		<img
			mat-card-image
			src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/35.png"
			alt="Photo of a Shiba Inu"
			class="img-thumbnail"
			style="height: 200px; width: 200px"
		/>
		<mat-card-content>
			<p>
				The Shiba Inu is the smallest of the six original and distinct
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card-actions>
	</mat-card>
</div>
